<html>
  <link rel="stylesheet" type="text/css" href="style.css">

  <% include ../partials/header %>

  <title>Pokemon of Alola</title>

  <h1>Pokemon of the Alola Region</h1>

  <p>Check out the links to see the different creatures that live in the Alola Region.</p>

    <% include ../partials/footer %>
</html>
